.card-deck {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; 
    
  }
  .card {
    flex: 1 0 auto;
  }  

  .text-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    max-width:min-content; /* Adjust max-width as needed */ 
    color: blue;
  }