.card-deck {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; 
    
  }
  .card {
    flex: 1 0 auto;
  }  

  .text-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-text{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis ;
    
  }
  .ellipsis{
    white-space: nowrap;
    cursor: pointer;
    color: blue;
  }
 